body {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    background-color: #999;
}

header {
    margin: 0px;
}

main {
    margin: 0px;
}

h1 {
    text-align: center;
}

#nav-container ul {
    margin: auto;
}

#nav-container li {
    display: inline-block;
    margin: 10px;
    font-size: 14px;
}

.container p {
    text-align: center;
}

.container img {
    display: block;
    margin: auto;
}

header,
main,
footer {
    background-color: #ddd;
    font-size: 18px;
}
